<html>
    <header>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </header>
    <style>
        body {
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
        }
    </style>
    <body>
        <!-- templates/registration/signup.html -->

        {% block content %}
        <h2>Sign up</h2>
        <form class="form-group" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Sign Up</button>

        </form>
        {% endblock %}
    </body>
</html>