{% load static %}
<html>
    <header>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </header>
    <style>
        body {
            padding-top: 60px;
            padding-left: 60px;
            padding-right: 60px;
        }
    </style>
    <body>
        <h1>
            Social Page
        </h1>
        <p>
            Welcome, You are logged in as {{ user.username }}
        </p>
        {% if all_users %}
            <ul class="list-group">
                {% for cur_user in all_users %}
                    {% if cur_user.username != user.username %}
                        <li class="list-group-item">
                            <p>
                                {{ cur_user.username }}
                            </p>   
                            <form>
                                <button type="submit" class="btn btn-success">Follow</button>
                            </form>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No users are available.</p>
        {% endif %}

            
        
    </body>

</html>
